body {
    background-color: #2C3E50;
}

a {
    text-decoration: none;
}

#site {
    color: white;
}

#mobile-site {
    color: white;
    max-width: 320px;
    margin-right: 0px;
}

#sidebar {
    position: absolute;
    width: 26%;
    padding-left: 3%;
    padding-top: 30px;
    z-index: 1; 
}

#sidebar > h1 {
    margin-top: 15px;
}

#column {
    margin-top: -10px;
    padding-top: 10px;
    margin-bottom: -10px;
    padding-bottom: 10px;
    position: relative;
    margin-left: 26%;
    min-height: 950px;
    z-index: 10;
    background-color: #34495E;
}

#mobile-column {
    /* margin-top: -10px;
    padding-top: 10px;
    margin-bottom: -10px;
    padding-bottom: 10px;
    position: relative;
    margin-left: 26%;
    min-height: 950px;
    z-index: 10; */
    background-color: #34495E;
    font-size: 12px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

#mobile-site .container-fluid {
    margin-right: -20px;
    margin-left: -20px;
}

.me-img {
    border: solid 5px #1ABC9C;
    border-radius: 5px;
    background-image: url("../images/me.jpeg");       
}

.me-img.visible-desktop {
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
}

.me-img.visible-tablet {
    width: 125px;
    height: 125px;
    background-size: 125px 125px;
}

.post-date {
    padding-top: 37px;
    padding-left: 40px;
    padding-bottom: 37px;
    border-top: 3px solid #2C3E50;
    border-bottom: 3px solid #2C3E50;
}

.post-date time {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 23px;
}

.post-content {
    padding-left: 50px;
    /* padding-top: 25px; */
    font-size: 17px;
    line-height: 27px;
    padding-bottom: 25px;
    margin-right: 25px;
    max-width: 750px;
}

#mobile-site .post-content {
    padding-left: 25px;
    max-width: 320px;
}

#mobile-site .post-content > h1, 
#mobile-site .post-content > h2,
#mobile-site .post-content > h3,
#mobile-site .post-content > h4,
#mobile-site .post-content > h5,
#mobile-site .post-content > h6 {
    font-size: 16px;
}

.post-content p {
    max-width: 750px;
}

#mobile-site .post-content p {
    max-width: 300px;
}

#full-name {
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}

#small-about {
    font-size: 15px;
    line-height: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#links {
    position: relative;
    margin-top: 25px;
}

#links > li {
    list-style-type: none;
    line-height: 18px;
    margin-bottom: 12px;
}

.bordered-link {
    padding: 10px;
    border: solid 5px #1ABC9C;
    border-radius: 5px;
    position: relative;
}

a.bordered-link {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-left: -30px;
}

a.bordered-link:hover {
    background-color: #E74C3C;
    border: solid 5px #E74C3C;
}

.highlight {
    background-color: #2C3E50;
    max-width: 750px;
    -moz-box-shadow: inset 0 0 1px #2C3E50;
    -webkit-box-shadow: inset 0 0 1px #2C3E50;
    box-shadow: inset 0 0 1px #2C3E50;
}

#mobile-site .highlight {
    max-width: 255px;
    margin-right: 0px;
}

.highlight pre {
    background-color: transparent;
    border-radius:0px;
    border: none;
}

#mobile-site .highlight pre {
    font-size: 12px;
}

.highlight code {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px; 
  color: white;
}

#mobile-site .highlight code {
    font-size: 12px;
}

code {
    background-color: #2C3E50;
    -moz-box-shadow: inset 0 0 1px #2C3E50;
    -webkit-box-shadow: inset 0 0 1px #2C3E50;
    box-shadow: inset 0 0 1px #2C3E50;
    color: white;
    border: none;    
}

#mobile-site p > code {
    display: inline-block;
    max-width: 225px;
    white-space: normal;
    font-size: 12px;
}

/* Keywords */
code span.k, code span.kp, code span.kc {
    color: #1ABC9C;
    font-weight: bold;
}

/* Types */
code span.kt {
    color: #E74C3C;
}

/* Strings */
code span.s, code span.s2, code span.sr {
    color: #3498DB;
}

/* Comments */
code span.cm, code span.c1 {
    color: #BDC3C7;
}

/* #footer {
    height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 150;
} */

.next-btn {
    float: right;
    width: 100px;
}

.prev-btn {
    float: left;
    width: 100px;
}
