---
layout: default
title: "Jared Roesch's Research Homepage"
---
  <div id="my-info" class="row">
    <div class="col-lg-6">
      <img style="border-radius: 50%;" height="150px" src="/images/me.jpg">
    </div>

    <div class="col-lg-6" id="contact-info">
      <address>
        Computer Science PhD Student <br>
        University of Washington <br>
        <a href="mailto:jroesch@cs.washington.edu">jroesch@cs.washington.edu</a><br>
        Office: <a href="http://www.washington.edu/maps/#!/cse">CSE 518</a><br>
        Lab: <a href="http://www.washington.edu/maps/#!/cse">CSE 407</a><br>
      </address>
    </div>
  </div>

  <div id="news">
      <h3>News</h3>
      <div><b>Jan 16 2017</b>: Leo, Gabriel, Sebastion and I gave a
      <a href="http://leanprover.github.io/presentations/20170116_POPL/">tutorial</a>
      on Lean at <a href="http://popl17.sigplan.org/">POPL 2017</a> in Paris. <br>
      <div><b>Oct 23 2016</b>: Luke will present a poster on our work on
      a secure eBPF compiler at <a href="https://www.usenix.org/conference/osdi16">OSDI 2016</a>!
      <hr>
  </div>

  <div id="about">
      {% capture about_content %}{% include_relative about_content.md %}{% endcapture %}
      {{ about_content | markdownify }}
  </div>

  <!-- <div id="research" class="row marketing">
    <h3>Research</h3>
    I am currently working with Luke Nelson, Xi Wang and Zach Tatlock on
    using verified self-hosting to build trustworthy in-kernel JIT compilers.

    <h3>Publications</h3>

    <h4>Graduate Work</h4>
    Coming soon ...
    </br>

    <h4>Undergradute Work</h4>
    {% capture ugrad_research %}{% include_relative undergrad_research.md %}{% endcapture %}
    {{ ugrad_research | markdownify }}

    <h3>Teaching</h3>
    Teaching Assistant for CSE 451: Operating Systems <a href="https://courses.cs.washington.edu/courses/cse451/15au/">[15au]</a>

    <h3>Talks</h3>
  </div> -->
