<h1>publications.bib</h1><a name="typespec"></a><pre>
@article{<a href="_includes/publications_tb.html#typespec">typespec</a>,
  title = {Improved type specialization for dynamic scripting languages},
  author = {Kedlaya, Madhukar N and Roesch, Jared and Robatmili, Behnam and Reshadi, Mehrdad and Hardekopf, Ben},
  journal = {ACM SIGPLAN Notices},
  volume = {49},
  number = {2},
  pages = {37--48},
  year = {2014},
  publisher = {ACM}
}
</pre>

<a name="clp_fuzz"></a><pre>
@inproceedings{<a href="_includes/publications_tb.html#clp_fuzz">clp_fuzz</a>,
  title = {Language fuzzing using constraint logic programming},
  author = {Dewey, Kyle and Roesch, Jared and Hardekopf, Ben},
  booktitle = {Proceedings of the 29th ACM/IEEE international conference on Automated software engineering},
  pages = {725--730},
  year = {2014},
  organization = {ACM}
}
</pre>

<a name="rust_fuzz"></a><pre>
@inproceedings{<a href="_includes/publications_tb.html#rust_fuzz">rust_fuzz</a>,
  title = {Fuzzing the Rust Typechecker Using CLP},
  author = {Dewey, Kyle and Roesch, Jared and Hardekopf, Ben},
  booktitle = {Proceedings of the 30th ACM/IEEE international conference on Automated software engineering},
  year = {2015},
  organization = {ACM}
}
</pre>

<a name="zarf"></a><pre>
@inproceedings{<a href="_includes/publications_tb.html#zarf">zarf</a>,
  author = {McMahan, Joseph and Christensen, Michael and Nichols, Lawton and Roesch, Jared and Guo, Sung-Yee and Hardekopf, Ben and Sherwood, Timothy},
  title = {An Architecture Supporting Formal and Compositional Binary Analysis},
  booktitle = {Proceedings of the Twenty-Second International Conference on Architectural Support for Programming Languages and Operating Systems},
  series = {ASPLOS '17},
  year = {2017},
  isbn = {978-1-4503-4465-4},
  location = {Xi'an, China},
  pages = {177--191},
  numpages = {15},
  url = {<a href="http://doi.acm.org/10.1145/3037697.3037733">http://doi.acm.org/10.1145/3037697.3037733</a>},
  doi = {10.1145/3037697.3037733},
  acmid = {3037733},
  publisher = {ACM},
  address = {New York, NY, USA},
  keywords = {assembly analysis, binary verification, formal methods, functional programming, heterogeneous architecture, isa semantics, non-interference, static analysis}
}
</pre>

<a name="Ebner:2017:MFF:3136534.3110278"></a><pre>
@article{<a href="_includes/publications_tb.html#Ebner:2017:MFF:3136534.3110278">Ebner:2017:MFF:3136534.3110278</a>,
  author = {Ebner, Gabriel and Ullrich, Sebastian and Roesch, Jared and Avigad, Jeremy and de Moura, Leonardo},
  title = {A Metaprogramming Framework for Formal Verification},
  journal = {Proc. ACM Program. Lang.},
  issue_date = {September 2017},
  volume = {1},
  number = {ICFP},
  month = aug,
  year = {2017},
  issn = {2475-1421},
  pages = {34:1--34:29},
  articleno = {34},
  numpages = {29},
  url = {<a href="http://doi.acm.org/10.1145/3110278">http://doi.acm.org/10.1145/3110278</a>},
  doi = {10.1145/3110278},
  acmid = {3110278},
  publisher = {ACM},
  address = {New York, NY, USA},
  keywords = {dependent type theory, metaprogramming, tactic language, theorem proving}
}
</pre>

<hr><p><em>This file was generated by
<a href="http://www.lri.fr/~filliatr/bibtex2html/">bibtex2html</a> 1.98.</em></p>
