<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Jared Roesch</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/site.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="about.html">About</a></li>
            <li role="presentation"><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Jared Roesch</h3>
      </div>

      {{ content }}

      <footer class="footer">
        <p>&copy; Jared Roesch 2016</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
